@import "bootstrap/dist/css/bootstrap.min.css";
@import "./variables.css";

body {
  font-family: var(--font-primary);
  color: var(--color-black);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><defs><pattern id="grid" width="40" height="40" patternUnits="userSpaceOnUse"><path d="M 40 0 L 0 0 0 40" fill="none" stroke="%23000000" stroke-width="0.5" stroke-opacity="0.3"/></pattern></defs><rect width="100%" height="100%" fill="url(%23grid)"/></svg>');
  background-repeat: repeat;
}

/*Typography*/

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
  letter-spacing: -1px;
  line-height: 1.1;
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h6,
.h5,
.h4,
.h3,
.h1,
.h2 {
  color: var(--color-black);
}

h1,
.h1 {
  letter-spacing: -2px;
  line-height: 1;
}

h4,
.h4,
p,
.p {
  line-height: 1.5;
}

p,
.p {
  margin-block: 0.25rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

ul,
ol {
  margin-top: 0.5rem;
}

li {
  margin-block: 0.25rem;
}

/*NAVBAR*/

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img:hover {
  opacity: 0.4;
}

.nav-pulsing {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 0.4rem 1rem;
  background: rgb(242, 242, 242);
}

.nav-circle {
  background: rgba(82, 255, 120, 1);
  border-radius: 50%;
  height: 13px;
  width: 13px;
  animation: pulse 2s infinite;
}

/* Nav CTA */
.navbar-nav .nav-item:last-child .nav-link {
  background-color: #212529;
  color: var(--color-white) !important;
  padding: 8px 16px !important;
  border-radius: var(--border-radius-md);
}

/* Hover effect */
.navbar-nav .nav-item:last-child .nav-link:hover {
  background-color: #424649;
  color: var(--color-white) !important;
  text-decoration: none;
}

.navbar-nav .nav-item:last-child .nav-link:active,
.navbar-nav .nav-item:last-child .nav-link:focus {
  background-color: #373b3e;
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(82, 255, 120, 0.8);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 8px rgba(82, 255, 120, 0);
  }

  100% {
    transform: scale(0.9);
  }
}

.nav-link {
  font-family: var(--font-secondary);
  color: var(--color-black) !important;
  margin: 0 1rem;
}

.nav-link:hover {
  color: var(--color-primary) !important;
}

/*BUTTONS*/

.btn {
  font-family: var(--font-primary);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border-radius: var(--border-radius-md);
  transition: background 0.3s ease-in-out;
}

.btn-icon:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  .btn-icon {
    width: auto;
    /* Allow wrapping on larger screens */
  }
}

.btn:not(.btn-sm) {
  font-size: 14px;
  letter-spacing: 0.75px;
  padding: 1rem 2.5rem;
}

.btn:hover {
  text-decoration: none;
}

.btn-pill,
.btn-light {
  background: var(--color-gray-100) !important;
}

.btn-pill {
  display: flex;
  align-items: center;
  color: var(--c);
  gap: 4px;
  padding: 0.5rem 1rem;
  border-radius: 32px;
  font-size: 12px;
}

.btn-pill:hover {
  color: var(--color-black);
  text-decoration: none;
  background: var(--color-gray-300);
}

/*HERO*/

.hero-header {
  font-family: var(--font-primary);
  font-size: clamp(2rem, 8vw, 6rem);
  letter-spacing: clamp(-0.1rem, -2vw, -1.5rem);
}

.hero-header span {
  color: var(--color-primary);
  font-weight: 600;
}

.hero-section {
  height: 70dvh;
  text-align: center;
  align-items: center;
}

/*WORK*/

.work-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.work-card {
  font-family: var(--font-primary);
  display: grid;
  gap: 1rem;
  justify-content: space-between;
  background: var(--color-gray-200);
  border-radius: var(--border-radius-md);
  padding: 2rem;
}

.work-card h3 {
  font-size: 0.9rem;
  margin: 0;
}

.work-card p {
  color: var(--color-gray-500);
  font-weight: 500;
  font-size: 1.1rem;
}

.work-card:hover {
  background: var(--color-gray-100);
  text-decoration: none;
}

.work-card-logo {
  width: 40px;
  height: 40px;
  place-content: center;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  margin-right: 1rem;
  padding: 0.25rem;
}

/*SECTION*/

.section-wrapper {
  padding: min(3rem, 5%);
  border-radius: var(--border-radius-md);
  background-color: var(--color-white);
  box-shadow: var(--shadow-primary);
  overflow: hidden;
}

.justify-items-center {
  justify-items: center;
}

/*LOADING SCREEN*/

.loading-screen {
  height: 100vh;
  background-color: #f8f9fa;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

/*CONTACT*/

form {
  max-width: 500px;
}

form textarea {
  resize: none;
}

/*ABOUT*/

.about-text {
  max-width: 500px;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}

.about-wrapper {
  display: grid;
  gap: 2rem;
  justify-content: center;
  justify-items: center;
}

.about-wrapper img {
  border-radius: 99px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/*FOOTER*/

.footer {
  padding: 2rem 0;
  text-align: center;
}

.footer .container {
  display: grid;
  gap: 1rem;
}

.footer a {
  color: var(--color-primary);
  text-decoration: none;
}

.footer a:hover {
  color: var(--color-accent);
  text-decoration: underline;
}
